html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.timer {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #222222;
  color: black;
}

.relative {
  position: relative;
}

.absolute {
  transform: translate(-50%, -50%);
  position: absolute;
  cursor: pointer;
}
